.featured {
    flex: 2;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
}

.titleFeatured {
    font-size: 16px;
    font-weight: 500;
    color: gray;
}

.titleFeaturedC {
    font-size: 16px;
    font-weight: 500;
    color: gray;
    margin: 10px 0px;
}

.referencias {
    color: whitesmoke;
    margin-top: 1px;
    padding: 3px;
    font-size: 12px;
}
.refecontain {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
}


